@page "/evento-detalhes/{id}"
@using BusinessLogic.Models
@inject HttpClient Http

<h3>Detalhes do Evento</h3>

@if (evento == null)
{
    <p>
        <em>Evento não encontrado... @Id</em>
    </p>
}
else
{
    <div class="evento-details">
        <h4>@evento.Nome</h4>
        <p>Data: @evento.Data.ToShortDateString()</p>
        <p>Hora: @evento.Hora</p>
        <p>Local: @evento.Local</p>
        <p>Categoria: @evento.Categoria</p>
        <p>Capacidade: @evento.Capacidade</p>
        <p>Número de Atividades: @evento.NumeroAtidades</p>
        <p>Ingresso Barato: @evento.IngressoBarato</p>
        <!-- Adicione mais informações do evento conforme necessário -->
    </div>
}

@code {
    private EventoDetailsModel? evento;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.Write(Id);
        if (!string.IsNullOrEmpty(Id))
        {
            var idPGuid = Guid.Parse(Id);
            evento = await Http.GetFromJsonAsync<EventoDetailsModel>($"http://localhost:5052/api/Evento/Detalhe/{idPGuid}");
        }
    }

    // Adicione métodos ou propriedades adicionais conforme necessário
}

<style>
    .evento-details {
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>