@page "/eventos-inscritos/{idParticipante}"
@using System.IdentityModel.Tokens.Jwt
@using BusinessLogic.Models
@using BusinessLogic.Services
@inject IInscricaoEventoService ServiceInscricaoEvento
@inject IEventoService ServiceEvento
@inject IJSRuntime JsRuntime

<h3>VerEventosParticipante</h3>

@if (_eventos!.Count == 0 || _eventos == null)
{
    <p>
        <em>Sem Eventos...</em>
    </p>
}
else
{
    <div class="search-bar">
        <input type="text" @bind="_searchTerm" placeholder="Pesquisar por nome, local, data ou categoria" />
        <button @onclick="FilterEventos">Pesquisar</button>
    </div>
    
    <div class="eventos-container">
        @foreach (var evento in _eventosFiltrados!)
        {
            <div class="evento-card">
                <h4>@evento.Nome</h4>
                <p>Data: @evento.Data.ToShortDateString()</p>
                <p>Hora: @evento.Hora</p>
                <p>Local: @evento.Local</p>
                <p>Categoria: @evento.Categoria</p>
                <p>Capacidade: @evento.Capacidade</p>
                <p>Organizador: @evento.NomeOrganizador</p>
                <p>Número de Atividades: @evento.NumeroAtidades</p>
                <p>Ingresso Comprado: @evento.Ingressos!.FirstOrDefault()?.Preco</p>
                <p>Participantes Inscritos: @evento.ParticipantesInscritos</p>
                <button class="btn btn-primary" @onclick="() => AcessarEvento(evento)">Acessar Evento</button>
                <button class="btn btn-danger" @onclick="() => RemoverInscricaoEvento(evento)">Remover Evento</button>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public string? IdParticipante { get; set; }
    
    List<EventoDetailsModel>? _eventos = new List<EventoDetailsModel>();
    List<EventoDetailsModel>? _eventosFiltrados = new List<EventoDetailsModel>();

    private string? _searchTerm;

    private async Task RemoverInscricaoEvento(EventoDetailsModel eventoDetails)
    {
        Guid? id = await ServiceInscricaoEvento.GetInscricaoByEventoParticipanteId(eventoDetails.Id, Guid.Parse(_tokenClaims["idUtilizador"]));
        if (id != null)
        {
            bool removido = await ServiceInscricaoEvento.RemoverInscricaoEspc(id.Value, eventoDetails.Id, Guid.Parse(_tokenClaims["idUtilizador"]));
            if (removido)
            {
                _eventos!.Remove(eventoDetails);
                _eventosFiltrados!.Remove(eventoDetails);
            }
        }
    }
    
    private void AcessarEvento(EventoDetailsModel eventoDetails)
    {
        NavigationManager?.NavigateTo($"/evento-detalhes/{eventoDetails.Id}");
    }
    
    private async Task HandleGetEventos()
    {
        var inscricoes = await ServiceInscricaoEvento.GetEventosInscrito(Guid.Parse(IdParticipante!));

        if (inscricoes != null)
        {
            for (int i = 0; i < inscricoes.IdEventos!.Count; i++)
            {
                var temp = await ServiceEvento.GetDetalhesEvento(inscricoes.IdEventos[i]);
                if (temp != null)
                {
                    foreach (var ingresso in inscricoes.Ingressos!)
                    {
                        temp.Ingressos!.Add(ingresso);
                    }
                    _eventos?.Add(temp);
                }
            }
            
            _eventosFiltrados = _eventos;
        }
    }
    
    private void FilterEventos()
    {
        if (_eventos != null)
        {
            _eventosFiltrados = _eventos;
            if (!string.IsNullOrEmpty(_searchTerm))
            {
                _eventosFiltrados = _eventos.Where(e =>
                    e.Nome.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase) ||
                    e.Local.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase) ||
                    e.Data.ToShortDateString().Contains(_searchTerm, StringComparison.OrdinalIgnoreCase) ||
                    e.Categoria!.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase)
                    ).ToList();
            }
        }
    }

    [Inject]
    private NavigationManager? NavigationManager { get; set; }
    private Dictionary<string, string> _tokenClaims = new Dictionary<string, string>();
    protected override async Task OnInitializedAsync()
    {
        var token = await JsRuntime.InvokeAsync<string>("localStorage.getItem", "token");

        if (!string.IsNullOrEmpty(token))
        {
            var jwtHandler = new JwtSecurityTokenHandler();
            var decodedToken = jwtHandler.ReadJwtToken(token);

            _tokenClaims = decodedToken.Claims.ToDictionary(c => c.Type, c => c.Value);

            if (_tokenClaims["role"] != "Participante")
            {
                NavigationManager?.NavigateTo("/");
            }
        }

        await HandleGetEventos();
    }
}

<style>
    .eventos-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .evento-card {
        border: 1px solid #ccc;
        padding: 10px;
    }

    .btn-acessar-evento {
        margin-top: 10px;
    }

    .search-bar {
        margin-bottom: 20px;
    }
</style>
